body {
  background-color: #eee !important;
  font-family: sans-serif;
  width: 1300px;
  margin: 0 auto;
}


#dealer{
	display: inline-block;
	margin-left: 25%;
	margin-top: 50px;
	border: 1px solid black;
	height: 200px;
	width: 500px;
	background-color: #ffffff;
}

#dealercards{
	margin-top: 20px;
	margin-left: 10px;
}
#dealer1, #dealer2, #dealer3, #dealer4, #dealer5{
	position: relative; 
	left: 10px; 
	top: 10px; 
	border: 2px solid #5e5a5a; 
	background-color: #cf3838; 
	width: 79px; 
	height: 123px;
	display: inline-block;
}

#player{
	display: inline-block;
	margin-left: 25%;
	margin-top: 50px;
	border: 1px solid black;
	height: 200px;
	width: 500px;
	background-color: #ffffff;
}

#playercards{
	margin-top: 20px;
	margin-left: 10px;
}
#player1, #player2, #player3, #player4, #player5{
	position: relative; 
	left: 10px; 
	top: 10px; 
	border: 2px solid #5e5a5a; 
	background-color: #cf3838; 
	width: 79px; 
	height: 123px;
	display: inline-block;
}