body{
	margin: 0 auto !important;
	width: 1000px;
	height: auto;
	font-family: sans-serif !important;
}

table, th, td{
	border: 1px solid #888;
	padding: 10px;
	border-collapse: collapse;
	margin-top: 100px;
}
th{
	text-align: left;
}
.productTotalCost, #totalCost, .productCost{
	text-align: right;
}