html, body{
	margin: 0 auto !important;
	width: 1300px;
	height: auto;
	
}

.pull-left{
	float: left;
}
aside{
	margin-top: 50px !important;
}

#container{
	margin-top: 50px;
	margin-left: 20%;
}
.flex-container {
  display: inline-flex;
  width: 60%;
  align-items: center;
  height: 40px;
}

.choice .pion{
	margin: 10px;
}
.choice  .selected {
  border-color: DeepSkyBlue;
  border-width: 2px;
}

.pion {
  border: black solid 1px;
  border-radius: 10px;
  box-sizing: border-box;
  line-height: 20px;
  height: 20px;
  width: 20px;
  list-style: none;
  margin: auto;

}

#guesses { 
  width: 320px; 
  margin-left: 130px;
}

.hints {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 42px;
  padding: 0 10px;
  box-sizing: border-box;
}
.hints .hint {
    display: inline-block;
    border: 1px solid black;
    background-color: lightgrey;
    line-height: 20px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
  
 .hints .pos-col {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
.hints .col {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  
 .attempts {
  line-height: 44px;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  width: 10%;
  height: 40px;
  text-align: center;
}

.solution { 
  border-bottom: 3px solid black;
  display: flex;
}
.solution .attempts {
    width: 40%;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    height: 40px;
  }

.solution .pion[data-color="empty"] { 
  background-color: lightgrey;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}

.pionboard .pion { display: inline-block; }
.pionboard {
  display: block;
}

.current .pions {
  background-color: #eef7fa;
  border-radius: 10px;
}
.pionboard [data-color="empty"] {
  background-color: lightgrey;
  border-color: white;
}

